@import url("https://fonts.googleapis.com/css?family=Oswald:700");

body     {
  background:#231F20;
  text-align:center;
}

h1         {
  color:#FFF;
  font-family:'Oswald';
  font-weight:700;
  position:relative;  
  margin:30px auto;
  text-transform:uppercase;
  width:550px;
}

h1::before, h1::after {
    background-color: #4A90E2;
    content: '';
    display: inline-block;
    height: 30px;
    width: 30px; 
    position: absolute;
}

h1::before {  
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; 
    left: 10px;
    top: 10px;
}

h1::after {  
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 10px;
    right: 10px
}